@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This program demonstrates basics of creating a website using C# and ASP.net.<br/>
    It allows you to log in and make changes to a remote databse. Changes to the<br />
    data base cannot be made unless the user is logged in. Once logged in they are<br />
    allowed access to a beverages page where they can see all of the items in the<br />
    database. This view can be filterd to only display certain items. From this same<br />
    page items can be added, updated, and deleted.
    
</p>
