@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Chad Cunningham
    <strong>Contct Me at:</strong>   <a href="mailto:ccunningham2434@mail.kvcc.edu">ccunningham2434@mail.kvcc.edu</a>
</address>
